.container-cart-products{
    top: 140px;
    right: 0;
    background: fixed;
    background-color: #fff;
    color: #216ba5;
    border: 1px solid #444;
    padding: 10px;
    position: absolute;
    margin-right: 20px;
    overflow-y: scroll;
    height: 300px;
}
.cart-products{
    border-bottom: 1px solid;
}
.image-product-cart{
    width:80px;
    margin-top: 12px;
}
.name-product-cart,.price-product-cart{
    font-weight: bold;
}
.price-product-cart{
 color:#444;
}
.close-cart{
    font-weight: bold;
    color: white;
    background-color: #0066ccbf;
    padding: 6px;
    border-radius: 10px;
    margin-left: 220px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
.container-price-button{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.container-total-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.total-bill{
    color:black;
    font-weight: bold;
}
.btn-buy{
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: #408cd9;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.btn-buy:hover, .close-cart:hover{
    background-color: #1c4976;
}